@page "/components/shopselector"
@using BC.Client.Services
@using BC.Models
@inject ShopsService shopsService

<h3>Wybierz który chcesz zobaczyć</h3>
<MudGrid>
    <MudItem>
        <MudAutocomplete T="Shop" Label="Wprowadź sklep" @bind-Value="SelectedShop" SearchFunc="SearchShop"
                         ToStringFunc="shop => shop.Name"></MudAutocomplete>
    </MudItem>
    @if(SelectedShop is not null)
    {
        <MudChip>@SelectedShop.Name</MudChip>
    }
</MudGrid>
@code {

    private Shop selectedShop;

    [Parameter]
    public Shop SelectedShop {
        get => selectedShop;
        set
        {
            selectedShop = value;
            SelectedShopChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<Shop> SelectedShopChanged { get; set; }

    private async Task<IEnumerable<Shop>> SearchShop(string arg)
    {
        var allShops = await shopsService.GetShops();
        if (string.IsNullOrEmpty(arg))
            return allShops;
        return allShops?.Where(s=>s.Name.StartsWith(arg, StringComparison.OrdinalIgnoreCase)).ToList();
    }

}
