@page "/"
@using BC.Models

<PageTitle>Index</PageTitle>

<h1>Witaj w aplikacji która pokaże Ci najlepszych dostawców cashback w twoim sklepie!</h1>

<ShopSelector SelectedShopChanged="ShopChanged"></ShopSelector>

<div class="bottom-0">
    <SurveyPrompt Title="How is Blazor working for you?"/>
</div>
@code
{
    private async Task ShopChanged(Shop arg)
    {
        Console.WriteLine("Shop changed!");
    }
}
