@page "/"
@using BC.Models
@using BC.Client.Services
@inject CashbackService cashbackService

<PageTitle>Index</PageTitle>

<h1>Witaj w aplikacji która pokaże Ci najlepszych dostawców cashback w twoim sklepie!</h1>

<ShopSelector SelectedShopChanged="ShopChanged"></ShopSelector>

<MudGrid>
    @foreach (var cb in cashBacks)
    {
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.h5">@cb.Provider.Name</MudText>
                <MudText>@cb.Amount @GetAmountSign(cb.Type)</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Link="@cb.Provider.Url" Variant="Variant.Outlined" Color="Color.Primary">Przejdź do strony</MudButton>
            </MudCardActions>
        </MudCard>
    }
</MudGrid>
@code
{
    private List<Cashback> cashBacks = new();
    private async Task ShopChanged(Shop shopSelected)
    {
        Console.WriteLine("Im here");
        cashBacks = (await cashbackService.GetCashbacks(shopSelected.Id)).ToList();
    }

    private string GetAmountSign(CashbackType cashbackType)
    {
        return cashbackType switch
        {
            CashbackType.Cash => "PLN",
            CashbackType.Percentage => "%",
            _ => throw new ArgumentOutOfRangeException(nameof(cashbackType), cashbackType, null)};
    }
}
