@page "/"
@using BC.Models
@using BC.Client.Services
@inject CashbackService cashbackService

<PageTitle>Index</PageTitle>

<h1>Witaj w aplikacji która pokaże Ci najlepszych dostawców cashback w twoim sklepie!</h1>

<ShopSelector SelectedShopChanged="ShopChanged"></ShopSelector>

<MudGrid>
    @foreach (var cb in cashBacks)
    {
        <MudItem>
            <MudCard>
                @cb.Provider
            </MudCard>
        </MudItem>
    }
</MudGrid>
@code
{
    private List<Cashback> cashBacks;
    private async Task ShopChanged(Shop shopSelected)
    {
        cashBacks = await cashbackService.GetCashbacks(shopSelected.Id);
    }
}
